@import "./bootstrap.4.5.2.scss";
@import "./bootswatch_materia.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;900&display=swap");

.font-weight-light {
    font-weight: 100 !important;
}

h1 {
    text-transform: uppercase;
}

.colored-meta {
    position: relative;
    z-index: 2;
    text-align: left;
    width: fit-content;
    color: #d600a8;

    &::after {
        content: "";
        display: block;
        position: absolute;
        width: 50%;
        height: 2px;
        background: #d600a8;
        z-index: 2;
        left: 110%;
        top: 30%;
        border-radius: 4px;
    }
}

@media (prefers-color-scheme: dark) {
    $bg: #333;
    $color: #ebebeb;
    body {
        background: $bg;
        color: $color;
    }
    .icon-group::after {
        background: $color;
    }
    .mousey {
        border-color: $color;
        .scroller {
            background: $color;
        }
    }
    #pg404 {
        background-color: $bg;
    }
    .row.hero::after {
        background: #3c3c3c;
        border-bottom: 1px solid #404040;
        box-shadow: 0 3px 40px rgba(0, 0, 0, 0.21);
    }
    .progress {
        background-color: darken($bg, $amount: 3%);
    }
}

@media (prefers-color-scheme: light) {
    $bg: #f7f7f7;
    $color: rgb(51, 51, 51);
    body {
        background: $bg;
        color: $color;
    }
    .icon-group::after {
        background: $color;
    }
    .mousey {
        border-color: $color;
        .scroller {
            background: $color;
        }
    }
    #pg404 {
        background-color: $bg;
    }
    .row.hero::after {
        background: #fff;
        border-bottom: 1px solid #d7d7d7;
        box-shadow: 0 3px 40px rgba(0, 0, 0, 0.21);
    }
    .progress {
        background-color: darken($bg, $amount: 3%);
    }
}

body {
    font-size: 1rem;
    font-family: Poppins, "Helvetica Neue", serif;
    margin-bottom: 60px; /* Margin bottom by footer height */

    h1 {
        font-weight: bold;
    }

    a {
        color: unset;
        &:hover {
            color: unset;
            text-decoration: none;
        }
    }
}

html {
    position: relative;
    min-height: 100%;
    // scroll-behavior: smooth;
}

.row.hero {
    height: 100vh;
    align-content: center;
    margin-bottom: 2rem;

    &::after {
        content: "";
        height: 100vh;
        width: 100%;
        display: block;
        position: absolute;
        left: 0;
        z-index: -1;
    }

    .col-hero-right {
        position: absolute;
        top: 84vh;
        left: 0;
    }
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 72px;

    .col.text-right {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }
}

// .card,
.navbar {
    box-shadow: none;
}

img.article-image {
    // box-shadow: 0px 4px 19px 0px #000000c7;
    border-radius: 11px;
    display: flex;
    margin: 0 auto;
}

.category-title-link h1 {
    &:hover i {
        opacity: 1;
        transform: translateX(0px);
    }

    i {
        opacity: 0;
        transition: opacity 0.5s, transform 0.6s;
        transform: translateX(-10px);
    }
}

a.text-capitalize.btn {
    i {
        position: absolute;
        opacity: 0;
        left: 11px;
        top: calc(50% + -5px);
        transition: opacity 0.4s;
    }

    &:hover {
        padding-left: 2rem;
        i {
            opacity: 1;
        }
    }
}

.blog-container.container,
.portfolio-container.container,
section.article.container {
    margin-top: 140px;
}

.navbar {
    z-index: 1;
    width: 100%;
    position: fixed;
    top: 0;
    backdrop-filter: blur(10px);
    transition: box-shadow 0.4s;

    .container {
        transition: transform 0.4s;
    }

    &.shadow {
        height: 61px;
        box-shadow: 0 9px 23px rgba(0, 0, 0, 0.28);
        .container {
            transform: scale(0.7) translateY(-17px);
        }
    }
}

.navbar-brand {
    width: 56px;
    height: 50px;
    display: block;
    background-size: cover;
    background-image: url("../public/Logo.svg");
}

// Apple iPhone 12 Pro Max Min-Width Media Queries

@media only screen and (min-width: 428px) {
    nav {
        img.logo {
            width: 40px;
            height: auto;
        }

        .right {
            width: 75vw;

            .icon-group {
                width: 134px;

                &::after {
                    left: -14%;
                }
            }
        }

        &.navbar.shadow {
            height: 81px;
            .container {
                display: flex;
                flex-direction: column;
            }
        }

        .navbar-brand {
            margin-bottom: 8px;
        }
    }

    .title {
        font-size: 51px;
    }
}

@media only screen and (min-width: 500px) {
    body nav {
        img.logo {
            width: 50px;
            height: 50px;
        }

        .right {
            width: 461px;

            a {
                font-size: 1rem;
            }

            .icon-group {
                &::after {
                    left: -29%;
                }
            }
        }
    }

    h1 {
        font-size: 1.9rem;
    }
}

// Medium devices (tablets, 768px and up)
@media only screen and (min-width: 768px) {
    .title {
        font-size: 87px;
    }

    nav.navbar.shadow {
        height: 61px;
        .container {
            flex-direction: row;
        }
    }
}

// Large devices (desktops, 992px and up)
@media only screen and (min-width: 992px) {
    .title {
        font-size: 39px;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media only screen and (min-width: 1200px) {
    .container,
    .container-sm,
    .container-md,
    .container-lg,
    .container-xl {
        max-width: 1241px;
    }

    .title {
        font-size: 71px;
        flex-direction: row;
        margin-top: 7rem;
        margin-bottom: 4rem;
    }

    .display-content {
        font-size: 1.3rem;
        margin-bottom: 4rem;
    }
}
