// @import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "./bootstrap.4.5.2.scss";
@import "./bootswatch_materia.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;900&display=swap");

.font-weight-light {
    font-weight: 100 !important;
}

@media (prefers-color-scheme: dark) {
    $bg: #333;
    $color: #ebebeb;
    $img: "../public/LogoV2.svg";

    body {
        background: $bg;
        color: $color;
    }

    .navbar-brand {
        background-image: url($img);
    }
}

@media (prefers-color-scheme: light) {
    $bg: #ebebeb;
    $color: #333;
    $img: "../public/Logo.svg";

    body {
        background: $bg;
        color: $color;
    }

    .navbar-brand {
        background-image: url($img);
    }
}

body {
    font-size: 1rem;
    font-family: Poppins, Helvetic, serif;
    margin-bottom: 60px; /* Margin bottom by footer height */

    h1 {
        font-weight: bold;
    }

    a {
        color: unset;
        &:hover {
            color: unset;
            text-decoration: none;
        }
    }
}

html {
    position: relative;
    min-height: 100%;
}

.footer {
    position: absolute;
    bottom: -62px;
    width: 100%;
    height: 120px;

    .col.text-right {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }

    .icon-group i {
        margin-right: 1rem;
    }
}

nav {
    .right {
        width: 30vw;
        display: flex;
        justify-content: space-between;
        a {
            font-weight: 200;
            text-decoration: none;
        }
    }
}

section.Home {
    h1.title {
        display: flex;
        letter-spacing: 4px;

        .font-weight-light {
            letter-spacing: 0;
        }
    }

    .category-title-link {
        i.fas.fa-external-link-square-alt {
            font-size: 1rem;
            position: absolute;
        }
    }
}

.card {
    background-color: transparent;
    border: none;

    &-body {
        padding: 1rem 0 0 1rem;
        justify-content: space-between;
        height: 100%;
        flex-direction: column;
        display: flex;

        p.card-text:nth-last-child(2) {
            height: 70px;
        }
    }
}

.card_custom {
    transition: box-shadow 0.4s;
    padding: 1rem;

    img.card-img.rounded {
        transition: box-shadow 0.5s;
    }

    .card-title {
        transition: background 0.4s, color 0.35s;
        padding: 0.5rem;
        border-radius: 4px;
    }

    &:hover {
        box-shadow: 0px 5px 10px 0px #00000012;

        img.card-img.rounded {
            box-shadow: 0px 0px 16px 0px #00000059;
        }

        .card-title {
            &.bg- {
                &portfolio {
                    background-color: #4caf50;
                }

                &blog {
                    background-color: #0c7cd5;
                }
            }
            color: white;
        }
    }
}

.card,
.navbar {
    box-shadow: none;
}

img.article-image {
    box-shadow: 0px 4px 19px 0px #000000c7;
    border-radius: 11px;
    display: flex;
    margin: 0 auto;
}

section.article.container {
    margin-bottom: 10rem;
}

.category-title-link h1 {
    &:hover i {
        opacity: 1;
        transform: translateX(0px);
    }

    i {
        opacity: 0;
        transition: opacity 0.5s, transform 0.6s;
        transform: translateX(-10px);
    }
}

a.text-capitalize.btn {
    i {
        position: absolute;
        opacity: 0;
        left: 11px;
        top: calc(50% + -5px);
        transition: opacity 0.4s;
    }

    &:hover {
        padding-left: 2rem;
        i {
            opacity: 1;
        }
    }
}

.navbar-brand {
    width: 56px;
    height: 50px;
    display: block;
    background-size: cover;
}

// Apple iPhone 12 Pro Max Min-Width Media Queries

@media only screen and (min-width: 428px) {
    nav {
        img.logo {
            width: 40px;
            height: auto;
        }
    }

    .card-body {
        padding: 1rem 0 0 0;
    }

    .card-body p.card-text:nth-last-child(2) {
        display: none;
    }

    h1.title {
        font-size: 54px;
    }
}

// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 500px) {
    nav {
        img.logo {
            width: 50px;
            height: 50px;
        }

        .right {
            width: 171px;

            a {
                font-size: 1.3rem;
            }
        }
    }

    h1.title {
        font-size: 72px;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .card-body {
        padding: 0 0 0 1rem;
    }

    h1.title {
        font-size: 90px;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .card-body p.card-text:nth-last-child(2) {
        display: unset;
    }

    h1.title {
        font-size: 39px;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .container,
    .container-sm,
    .container-md,
    .container-lg,
    .container-xl {
        max-width: 1241px;
    }

    h1.title {
        display: flex;
        font-size: 51px;
        flex-direction: row;
    }

    .card-body p.card-text:nth-last-child(2) {
        font-size: 0.8rem;
        opacity: 0.7;
    }
}
